n8n_workflows/daily_movie_import.json
{
  "name": "Flickora - Daily Movie Import Pipeline",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24,
              "triggerAtHour": 3
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 3AM Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.themoviedb.org/3/discover/movie",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "primary_release_date.gte",
              "value": "={{ $now.minus({days: 7}).toFormat('yyyy-MM-dd') }}"
            },
            {
              "name": "primary_release_date.lte",
              "value": "={{ $now.toFormat('yyyy-MM-dd') }}"
            },
            {
              "name": "sort_by",
              "value": "primary_release_date.desc"
            },
            {
              "name": "vote_count.gte",
              "value": "10"
            }
          ]
        },
        "options": {}
      },
      "id": "get-new-releases",
      "name": "Get New Releases from TMDB",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300],
      "credentials": {
        "httpQueryAuth": {
          "id": "tmdb-api-key",
          "name": "TMDB API Key"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "id": "split-movies",
      "name": "Split Movies",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "check-exists",
              "leftValue": "={{ $json.id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-valid",
      "name": "Filter Valid Movies",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:8000/api/import-movie/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "tmdb_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "import-movie",
      "name": "Import Movie to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-new",
              "leftValue": "={{ $json.created }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-new-movies",
      "name": "Filter New Movies Only",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:8000/api/generate-section/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "movie_id",
              "value": "={{ $json.movie.id }}"
            },
            {
              "name": "section_type",
              "value": "all"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "generate-reports",
      "name": "Generate AI Reports",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:8000/api/generate-embedding/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "movie_id",
              "value": "={{ $json.movie_id }}"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "generate-embeddings",
      "name": "Generate Embeddings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "completed"
            },
            {
              "name": "movie_id",
              "value": "={{ $json.movie_id }}"
            },
            {
              "name": "title",
              "value": "={{ $json.title }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-result",
      "name": "Set Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1850, 300]
    }
  ],
  "connections": {
    "Daily 3AM Trigger": {
      "main": [
        [
          {
            "node": "Get New Releases from TMDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get New Releases from TMDB": {
      "main": [
        [
          {
            "node": "Split Movies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Movies": {
      "main": [
        [
          {
            "node": "Filter Valid Movies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Valid Movies": {
      "main": [
        [
          {
            "node": "Import Movie to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Import Movie to Backend": {
      "main": [
        [
          {
            "node": "Filter New Movies Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter New Movies Only": {
      "main": [
        [
          {
            "node": "Generate AI Reports",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate AI Reports": {
      "main": [
        [
          {
            "node": "Generate Embeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embeddings": {
      "main": [
        [
          {
            "node": "Set Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-31T12:00:00.000Z",
  "versionId": "1"
}
